*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

img{
    width:20rem;
}
.logo{
    width: 10rem;
    display: block;
    margin: 2rem auto;
    margin-top: 2rem;
}
.logo-text{
    font-family: 'Major Mono Display', monospace;
    font-size: 2rem;
    text-align: center;
    display: block;
    margin: 2rem auto;
    margin-top: 2rem;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.navigation{
    width: 50%;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    border-top: 1px solid black;
}

.navigation-sub a {

    text-decoration: none;
    color: black;
    display: inline-block;
    padding: .5rem 1rem;

}

.new-stuff img{
    width: 100%;
    margin: 0;
}
.new-stuff a{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
    top:-100px;
    padding: .5rem 0;
    background-color: #ffffff5d;
    filter: drop-shadow(30px 10px 4px #cececed3);
}

.catagory{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.catagories{
    width: 80%;
    margin: 0 auto;
}
.catagory .heading-cat{
    text-align: center;
    border-top: 1px solid black;

    border-bottom: 1px solid black;
    padding: .5rem 0;
    margin-bottom: 2rem;
}

.catagory-sub img{
    border-bottom: 2px solid black;
    padding: 0;
    width:100%;
}
.catagory-sub p{
    margin-bottom: 2rem;
}
footer{
    width: 50%;
    margin: 2rem auto;
    border-top: 1px solid black;
}

.contact{
    text-align: center;
margin: 1rem auto;
}
.contact-links{
    border-top: 1px solid black;
    padding: 3rem 0;
    text-align: center;

}
.email,.phone{
    margin: .5rem 0;
}
.social-links{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 0rem 1rem;
}
.social-link img{
    width: 20px;
}
.copywrites{
    border-top: 1px solid black;
    margin: 2rem 0;
}
