:root{
    --font-color:#293250;
}
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--font-color);
}

body{
    background-color: #ffff;
    border: 0.1px solid var(--font-color);
    border-left: 10px solid var(--font-color);
    border-right: 10px solid var(--font-color);

}
img{
    width:20rem;
}
.logo{
    width: 10rem;
    display: block;
    margin: 2rem auto;
    margin-top: 2rem;
}
.logo-text{
    font-size: 2rem;
    text-align: center;
    display: block;
    margin: 1rem auto;
    margin-top: 2rem;
    font-weight: 700;
}
.logo-text a{
    font-family: 'Major Mono Display', monospace;

}
nav{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.navigation{
    width: 50%;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    border-top: 1px solid var(--font-color);
}

.navigation-sub a {

    text-decoration: none;
    color: var(--font-color);
    display: inline-block;
    padding: .5rem 1rem;

}

.new-stuff img{
    width: 100%;
    margin: 0;
}
.new-stuff a{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
    top:-100px;
    padding: .5rem 0;
    background-color: #ffffff5d;
    filter: drop-shadow(30px 10px 4px #cececed3);
}

.catagory{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.catagories{
    width: 80%;
    margin: 0 auto;
}
.catagory .heading-cat{
    text-align: center;
    border-top: 1px solid var(--font-color);

    border-bottom: 1px solid var(--font-color);
    padding: .5rem 0;
    margin-bottom: 2rem;
}

.catagory-sub img{
    border-bottom: 2px solid var(--font-color);
    padding: 0;
    width:100%;
}
.catagory-sub p{
    margin-bottom: 2rem;
}
footer{
    width: 50%;
    margin: 2rem auto;
    border-top: 1px solid var(--font-color);
}

.contact{
    text-align: center;
margin: 1rem auto;
}
.contact-links{
    border-top: 1px solid var(--font-color);
    padding: 3rem 0;
    text-align: center;

}
.email,.phone{
    margin: .5rem 0;
}
.social-links{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 0rem 1rem;
}
.social-link img{
    width: 20px;
}
.copywrites{
    border-top: 1px solid var(--font-color);
    margin: 2rem 0;
}

.about-company{
    width: 70%;
    margin: 2rem auto;
}
.about-company h2{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 2rem;
}

.about-company p{
    line-height: 1.2rem;
    
}
.about-company img{
    display: block;
    width: 100%;
    margin: 2rem 0 ;
}


